@using StationLinerMVC.Models
<div class="col-md-12">
    <div class="col-md-6">
        <div class="form-group has-success">
            <div class="col-md-4">
                <label class="control-label pull-right"> Supplier</label>
            </div>
            <div class="col-sm-8">
                <select name="SupplierId" class="form-control " id="SupplierId" required="required">
                    <option value=""> Select Supplier/Vendor</option>
                    @{
                        using (var db = new IMSDataEntities())
                        {
                            var suppliers = db.Supppliers.Where(x => x.IsDeleted != true);
                            if (suppliers.Any())
                            {
                                foreach (var supplier in suppliers)
                                {
                                    <option value="@supplier.Id">@supplier.Name</option>
                                }
                            }
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group has-success">
            <div class="col-md-4">
                <label class="control-label pull-right"> Driver</label>
            </div>
            <div class="col-sm-8">
                <select name="DriverId" class="form-control" id="supplier-drivers" required="required">
                    <option value=""> Select Driver</option>
                    <option value=""> Add a driver first</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-6">
        <div class="form-group has-success">
            <div class="col-md-4">
                <label class="control-label pull-right"> Vehicle</label>
            </div>
            <div class="col-sm-8">
                <select name="VehicleId" class="form-control" id="supplier-vehicles" required="required">
                    <option value=""> Select Vehicle</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group has-success">
            <div class="col-md-4">
                <label class="control-label pull-right"> Document Number</label>
            </div>
            <div class="col-sm-8">
                <input type="text" name="DocumentNumber" class="form-control" placeholder="Document Number" required />

            </div>
        </div>
    </div>
</div>
